<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
      <table class='table'>
        <tr>
          <td>
            <%= link_to(@user) do %>
            <%= image_tag @user.get_profile_image, size:"50x50" %><br>
            <%= @user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td><%= render 'layouts/favorite', book: @book %></td>
          <td><p>コメント数：<%= @book.post_comments.count %></p></td>
          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>
          <% @book.post_comments.each do |post_comment| %>
      <table>
        <tr class='d-flex align-items-center'>
            <td>
              <%= link_to(@user) do %>
              <%= image_tag @user.get_profile_image, size:"50x50" %><br>
              <%= @user.name %>
              <% end %>
            </td>
            <td><%= post_comment.comment %></td>
            <% if post_comment.user == current_user %>
              <td><%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-sm btn-danger" %></td>
            <% end %>
        </tr>
      </table>
          <% end %>
      <div>
        <%= form_with model: [@book, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力", class: 'form-control book_body' %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>